<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Simple Canvas Game</title>
	</head>
	<center>
	<div id = "instr">
	<h3>
        Practice with Izzy.
    </h3>
	</div>
	<body>
		<div id="background" class="static/images/background.jpg" ></div>
		
		<script src="static/js/izzy_sim.js"></script>
		<canvas id="canvas" width="512" height="480"></canvas>
	</body>
	

	<div id = "ARM">
		<p>
            Move ARM with the MOUSE to the SHADED ARM. 
        </p>
    </div>


	<div id = "GRIPPER">
		<p>
            CLOSE the Gripper using W and S. 
        </p>
    </div>


    <div id = "TABLE">
		<p>
            Rotate the TABLE using A and D to the SHADED ZONE. 
        </p>
    </div>
	
	<center/>

    <div class="instructionsnav" style="margin-left:auto; margin-right:auto;">
        <div class="row" style="margin-left:auto; margin-right:auto;">
            <div class="col-xs-100" style="margin-left:auto; margin-right:auto;">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</html>
