<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <p>You are finished!  Thank you for your contributions to science.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

             <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What color was the car NOT?
                </div>
                <div class="col-md-4">
                    <select id="color" name="color">
                        <option value="3">Blue</option>
                        <option value="2">Red</option>
                        <option value="1" SELECTED>Green</option>
                        <option value="0">Yellow</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    I have video game experience.
                </div>
                <div class="col-md-4">
                    <select id="video" name="black_ice">
                        <option value="4">Strongly Agree</option>
                        <option value="3">Agree</option>
                        <option value="2" SELECTED>Neutral</option>
                        <option value="1">Disagree</option>
                        <option value="0">Strongly Disagree</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What is your Gender?
                </div>
                <div class="col-md-4">
                    <select id="Gender" name="black_ice">
                        <option value="2">Male</option>
                        <option value="1">Female</option>
                        <option value="0" SELECTED>Other</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What is your Age Range?
                </div>
                <div class="col-md-4">
                    <select id="video" name="black_ice">
                        <option value="4">70+</option>
                        <option value="3">50-70</option>
                        <option value="2" SELECTED>30-50</option>
                        <option value="1" SELECTED>10-30</option>
                        <option value="0" SELECTED>0-10</option>
                    </select>
                </div>
            </div>

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    "Driving on the black ice was challenging." 
                </div>
                <div class="col-md-4">
                    <select id="black_ice" name="black_ice">
                        <option value="4">Strongly Agree</option>
                        <option value="3">Agree</option>
                        <option value="2" SELECTED>Neutral</option>
                        <option value="1">Disagree</option>
                        <option value="0">Strongly Disagree</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

             <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                   "I learned to drive better over the black ice."
                </div>
                <div class="col-md-4">
                    <select id="learning" name="learning">
                        <option id="learning" value="4">Strongly Agree</option>
                        <option id="learning" value="3">Agree</option>
                        <option id="learning" value="2" SELECTED>Neutral</option>
                        <option id="learning" value="1">Disagree</option>
                        <option id="learning" value="0">Strongly Disagree</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


             <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    "The robotic coach gave informative feedback." 
                </div>
                <div class="col-md-4">
                    <select id="coach" name="coach">
                        <option value="4">Strongly Agree</option>
                        <option value="3">Agree</option>
                        <option value="2" SELECTED>Neutral</option>
                        <option value="1">Disagree</option>
                        <option value="0">Strongly Disagree</option>
                    </select>
                </div>
            </div>

               <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    "The robotic coach was intelligent."
                </div>
                <div class="col-md-4">
                    <select id="coach" name="coach">
                        <option value="4">Strongly Agree</option>
                        <option value="3">Agree</option>
                        <option value="2" SELECTED>Neutral</option>
                        <option value="1">Disagree</option>
                        <option value="0">Strongly Disagree</option>
                    </select>
                </div>
            </div>

              <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    "I feel uncormfortable with the robotic coach."  
                </div>
                <div class="col-md-4">
                    <select id="coach" name="coach">
                        <option value="4">Strongly Agree</option>
                        <option value="3">Agree</option>
                        <option value="2" SELECTED>Neutral</option>
                        <option value="1">Disagree</option>
                        <option value="0">Strongly Disagree</option>
                    </select>
                </div>
            </div>

                <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    "I am confident in the robotic coach's ability to help me."   
                </div>
                <div class="col-md-4">
                    <select id="coach" name="coach">
                        <option value="4">Strongly Agree</option>
                        <option value="3">Agree</option>
                        <option value="2" SELECTED>Neutral</option>
                        <option value="1">Disagree</option>
                        <option value="0">Strongly Disagree</option>
                    </select>
                </div>
            </div>

               <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    "I found the robotic coach's advice confusing."
                </div>
                <div class="col-md-4">
                    <select id="coach" name="coach">
                        <option value="4">Strongly Agree</option>
                        <option value="3">Agree</option>
                        <option value="2" SELECTED>Neutral</option>
                        <option value="1">Disagree</option>
                        <option value="0">Strongly Disagree</option>
                    </select>
                </div>
            </div>

                 <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    "The robotic coach's advice improved over time."" 
                </div>
                <div class="col-md-4">
                    <select id="coach" name="coach">
                        <option value="4">Strongly Agree</option>
                        <option value="3">Agree</option>
                        <option value="2" SELECTED>Neutral</option>
                        <option value="1">Disagree</option>
                        <option value="0">Strongly Disagree</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- end of a question -->
             <!-- beginning of a question -->
            
            <!-- end of a question -->

        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
