<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        <h3>
           Labeling Tips
        </h3>

        <p>
           To train Izzy, you need to provide the CORRECTIONS to his CURRENT state when he is misbehaving. 
        </p>

         <p>
          You will be shown a HIGH SPEED version of Izzy trying to reach the yellow cylinder and then a SLOWER version, which you provide CORRECTIONS> 
          
        </p>

        <p>
           Remember when to correct Izzy is as follows:
        
        </p>
        <ul>
           <li> Izzy is Misbehaving </li>
            <li>A corection does not involve Izzy going BACKWARDS</li>
        </ul>

        <p>
           NOTE: Izzy can only move so much from its current position, so you will not be able to move the PINK overlay farther than Izzy is able to move. 
        </p>
        <p>
           Click NEXT to begin the task. 
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
