<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">
	    
	    <p>
	    	The goal of this task is to drive around a track via the ARROW KEYS. 
        </p>

        <p>
        	For steering control use the LEFT and RIGHT arrow keys to turn left and right, respectivley.
        </p>

        <p>
            For speed use the UP and DOWN arrow keys to speed up and slow down respectivley.
        </p>

        <center>
        <div class="image">
        <img src="static/images/SteeringWheel.png" width="500" height="350">
        </div>
        </center>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
