<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        <h3>
           Labeling Tips
        </h3>

        <p>
           Correcting Izzy's DO:
        
        </p>
        <ul>
           <li> Correct Izzy when you are Confident</li>
            <li>Correct Izzy when he isn't PUSHING the RED SHAPES</li>
            <li>Correct Izzy when he isn't HEADING towards the YELLOW CLYNDER</li>
        </ul>
        <p>
           Correcting Izzy's DON'T:
        
        </p>
        <ul>
           <li>Don't tell Izzy to go BACKWARDS</li>
            <li>Don't correct Izzy if he isn't Misbehaving</li>
        </ul>

        <p>
           NOTE: Izzy can only move so much from its current position, so you will not be able to move the PINK overlay farther than Izzy is able to move. 
        </p>
        
        <p>
           Click NEXT to begin the task. 
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
