<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        
        <p>
            Great job! Next, you will be driving in WINTER conditions.  
        </p>

        <p>
            There will be BLACK ICE on the track. Please try to FOLLOW the dotted blue LINE. 
        </p>
        
        <p>
            The goal is to LEARN how to effectively drive on the black ice. You will be given 5 TRIALS to do so. 
        </p>

      

        <center>
        <div class="image">
        <img src="static/images/track_textured_instr.jpg" width="425" height="275">
        </div>
        </center>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

      


    </div>

      <p>
        NOTE:
      </p>
      <p>

        If you go off the track when driving over the black ice please continue driving along the track. DO NOT go back over the black ice section during the trial.
      </p>

    <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
