<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        
        <p>
            The first task is to drive the car around the track in Summer conditions.  
        </p>

        <p>
            The goal is to stay as close to the dotted blue line as possible.
        </p>

        <center>
        <div class="image">
        <img src="static/images/track_textured_summer_instr.png" width="75%">
        </div>
        </center>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
