<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        
        <p>
           In order to know if Izzy misbehaves or not. You will be first shown a video at HIGH SPEED. 
        </p>
        <p>
           Then you will be shown a SLOW DOWN video for you to provide corrections on. 
        </p>
        <p>
           Click NEXT to begin the task. 
        </p>


    </div>

    <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
