<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">
	    
	    <p>
	    	Meet Izzy, the robot! This is HIT is designed to teach Izzy to complete a task.
        </p>

        <p>
        	Izzy is trying to move the SILVER objects to grasp the GOLDEN CYLINDER, as shown in the picture. 
        </p>

        <p>
            However, Izzy is not able to currently do this and needs your help learning. 
        </p>

        <center>
        <div class="image">
        <img src="static/images/izzy_intro.png" width="500" height="350">
        </div>
        </center>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
