<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        <h3>
           Labeling Tips
        </h3>

        <p>
           To train Izzy, you need to provide the CORRECTIONS to his CURRENT state when he is misbehaving. 
        </p>

         <p>
           When providing a control you will need to move the TRANSPARENT robot to the correct location and HOLD it there until the next frame.
           If Izzy keeps making the same mistake make sure to HOLD the BLUE robot in the correct direction, note it will move with respect to IZZY which is OK. 
        </p>

        <p>
           Remember the task is to push objects around to get to the GOLDEN CIRCLE. Things Izzy might need help with are:
        
        </p>
        <ul>
           <li> PUSHING the objects to clear a PATH </li>
            <li>MOVING TOWARDS the GOLDEN CIRCLE </li>
           <li> CLOSING its GRIPPER before reaching the GOLDEN CIRCLE. </li>
        </ul>
        <p>
           Click NEXT to begin the task. 
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
