<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        
        <p>
            Supervise Izzy, the Robot, who is trying to move towards the YELLOW CYLINDER.
        </p>

        <p>
            If Izzy begins to misbehave and not clear a path to the YELLOW CYLINDER,  MOVE the PINK overlay in the desired direction. Izzy will LISTEN to your corrections and LEARN from them. 
        </p>

         <p>
           See video below for examples of Izzy misbehaving and a supervisor providing corrections.  
        </p>


        <center>
        <div class="image">
        <video width="560" height="315" id="sampleMovie" src="static/video/worker_label.mp4" controls></video>
        </div>
        </div>
        </center>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
